@model LibModels.Role
@{
    ViewBag.Title = "Management of roles";
}
<h2>Create new role</h2>
<form id="create-role" class="custom" method="post">
    <fieldset class="panel radius">
        <legend>Contact Us</legend>
         <ol>
            <li>
                @Html.LabelFor(a => a.Title)
                @Html.TextBoxFor(a => a.Title, new { placeholder = "Type the title" })
                @Html.ValidationMessageFor(a => a.Title, string.Empty)  
            </li>
            <li>
                @Html.LabelFor(a => a.Description)
                @Html.TextAreaFor(a => a.Description, new { placeholder = "Type the description" })
                @Html.ValidationMessageFor(a => a.Description, string.Empty) 
            </li>
        </ol>
        <input id="btnCreateRole" type="submit" class="button" value="Verzenden" />
    </fieldset>
</form>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}